@charset "utf-8";
/* CSS Document */

body {
    background: rgb(211, 219, 224);  
	font-size:87.5%;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.5;
	
}
	
#Banner
{	
	width:auto;
	height:auto;
	border-radius:5px;
	overflow:hidden;
	margin:2% 0;
}

a {
  text-decoration: none;	
  color:inherit;
}	

.body{
	margin:0 auto;
	width:80%;
	clear:both;
	}
	
/*	
 a.active {
	background-color:#337866;
	color:#FFF;
}
*/
	
	
.img {
 	width:100%;
	height:auto;
	margin: 0;
	content:url(images/banner.png);
}	
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #699c36);
  background-image: -moz-linear-gradient(top, #3498db, #699c36);
  background-image: -ms-linear-gradient(top, #3498db, #699c36);
  background-image: -o-linear-gradient(top, #3498db, #699c36);
  background-image: linear-gradient(to bottom, #3498db, #699c36);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e8e8e8;
  font-size: 17px;
  padding: 4px 14px 4px 14px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #598330);
  background-image: -moz-linear-gradient(top, #3cb0fd, #598330);
  background-image: -ms-linear-gradient(top, #3cb0fd, #598330);
  background-image: -o-linear-gradient(top, #3cb0fd, #598330);
  background-image: linear-gradient(to bottom, #3cb0fd, #598330);
  text-decoration: none;
}


/* ---------------- Main Navigation ----------------- */	

nav ul {
	background-color:#43a286;
	overflow:hidden;
	color:white;
	padding: 0;
	text-align:left;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	font-weight: bold;
	margin:0;
	-webkit-transition:max-height 0.4s;
	-moz-transition:max-height 0.4s;
	-ms-transition:max-height 0.4s;
	-o-transition:max-height 0.4s;
	transition:max-height 0.4s;
	
}
	
nav ul li {
	display:inline-block;
	padding:20px;	
}	
	
nav ul li:hover{
	background-color:#337866;
	border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;

}

.handle{
	width:100%;
	background-color:#A09D9D;
	text-align:left;
	box-sizing:border-box;
	padding:15px 10px;
	cursor:pointer;	
	color:white;
	display:none;
	border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   font-weight: bold;
	}
#expanderImg
{width:20px;
height:20px;
vertical-align:middle;
float:right;
	}
	
#menuLogo{
width:50px;
height:50px;
vertical-align:top;
float:left;
margin:-15px 15px 0 20px;
	}

/*.mainheader	nav{
	background-color:#666;
	color:#fff;
	height:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-weight: bold;
	}
.mainheader	nav ul{
	list-style:none;
	margin:0 auto;	
			
	}
.mainheader	nav ul li{
	float:left;
	display:inline;
}
.mainheader nav a:link, mainheader nav a:visited {
	
	color :#fff;
	display:inline-block;
	padding:10px 25px;
	height:20px;
	} 
.mainheader nav a:hover, mainheader nav a:active,
mainheader nav .active a:link, mainheader nav .active a:visited{

	background-color:#08935A;
	text-shadow:none;

}
.mainheader nav  ul li a{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}

 */
.maincontent {
	line-height:25px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
h2{
color:#598330;
	}
	
.heading {
    color: rgb(49, 126, 172);
    height: 20px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px;
    width: 200px;
    perspective-origin: 452.5px 18px;
    transform-origin: 452.5px 18px;
    border: 0px none rgb(49, 126, 172);
    font: normal normal bold normal 24px / 36px Karla, sans-serif;
    margin: 0px;
    outline: rgb(49, 126, 172) none 0px;
}

	
.content{
	width:70%;
	float: left;
	
	}
.topContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
.middleContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
	.buttomContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
.top-sidebar{
	width:21%;
	float:right;
	background-color:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 2% 0 2% 3%;
	padding:2% 3%;
		}
.top-sidebar a ul li{

	color:#005900;
	
		}
.middle-sidebar{
	width:21%;
	float:left;
	background-color:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 0 0 2% 3%;
	padding:2% 3%;
		}
.bottom-sidebar{
	width:21%;
	float:right;
	background-color:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 0 0 2% 3%;
	padding:2% 3%;
		}
.mainFooter
{	width:100%;
	hieght:40px;
	float:left;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color:#666;
	margin:2% 0;
	} 
	.mainFooter p
{	width:92%;
	color:#FFF;
	margin:10px auto ;
	} 


.main-info
{ font-style:italic;
color:#999999;

	}
h3{
	color:#009999;
	}



	

@media only screen and (min-width:150px) and (max-width: 800px)
{	


.body{
	width:90%;
	font-size:95%;
	}
	
#Banner
{	align-content:center;
	width:auto;
	height:auto;
	border-radius:0;
	margin:2% 0;
}

.img {
	align-content:center;
 	width:50%;
	height:250px;
	margin:0 20% 0 25%;
	content:url(images/logo-png.png);
}	

.content{
	width:100%;
	margin-top:2%;
	}
	
.topContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
.middleContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
	.buttomContent{
	background-color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	}
.top-sidebar ,.middle-sidebar ,.bottom-sidebar{
	width:94%;
	margin: 2% 0 2% 0;
	padding:2% 3%;
}
 
}


@media only screen and (min-width:150px) and (max-width: 650px)
{	

.body{
	width:90%;
	font-size:95%;
	}
	
#Banner{	
	display:none;
	}	
	
nav ul{
	max-height:0;
	}
.showing{
	max-height:20em;
	
	}	
nav ul li{
	box-sizing:border-box;
	width:100%;
	padding:15px;
	text-align:left;
	border-bottom:1px solid ;
	}
.handle{
	display:block;
	}
	

/*			
.mainheader	nav{
	height:143px;
	display:block;
	}
.mainheader	nav ul{
	padding-left:0;			
	}
.mainheader	nav ul li{
	width:100%;
	text-align:center;
	border-bottom:1px solid #598330;
	}
.mainheader	nav ul li:last-child{
	border-bottom:none;
	}
.mainheader nav a:link, mainheader nav a:visited {
	padding:10px 25px;
	height:20px;
	display:block;
	} */
}


.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 3px solid rgb(153, 204, 255);
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
 
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}
 
/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}
 
 
